.innpakning {
    width:100%;
    background-color: #404040;
    margin:auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap; /*Bestemmer hvordan innholdet orienterer seg vannrett, dvs vi kan bryte rader*/
    border-radius: 20px;;
}

.topptekst {
    flex-basis:100%; /*fyller bredden i innpakning helt*/
    height:140px;
    background-color: #909090;
    padding-top: 5px;
    margin:5px;
    order:1;
    padding-left:30px;
    border-radius: 20px 20px 0 0;
    font-size: 50px;
}
h1 {
    margin-top:0px;
}

.meny {
    flex-basis:270px;
    background-color: #909090;
    padding:5px;
    margin:5px;
    order:1;
    border-radius: 0 0 0 20px;
    flex-flow:row nowrap;
}

.innhold {
    background-color: #909090;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    order:3;
    border-radius: 0 0 20px 0;
    height:900px;
    width:auto;
}

.innhold2 {
    background-color: #909090;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
    flex:1;
    order:4;
    margin:5px;
    margin-top:0;
    border-radius: 0 0 20px 20px;
}

.innholdMeny {
    flex-basis:auto;
    background-color: #909090;
    flex-flow: row;
    flex-wrap: nowrap;
    display:flex;
    /*justify-content:space-evenly; */
    order:1;
}

.innhold3 {
    order: 5;
    width:auto;
    flex-grow:7;
    margin:5px;
    padding:5px;
}

.innholdVenstre {
    background-color: #909090;
    order:2;
    /*flex-basis:50%;*/
    margin-bottom:0;
    /*flex-basis:425px;*/
    width: 520px;
    flex-grow:3;
}

.innholdTopp {
    background-color: lightcyan;
    order:2;
    max-width:100%;
    flex-grow:2;
    border-radius: 4px;
}

.innholdBunn {
    background-color: lightcyan;
    order:3;
    max-width:100%;
    flex-grow:2;
    border-radius: 4px;
}

.innholdBunn, .innholdTopp, .innholdVenstre {
    padding:5px;
    margin:5px;
    font-size:27px;
}

ul {
    list-style-type: none; /*fjerner kulepunkter*/
    margin: 0;
    padding: 0;
    margin-bottom:10px;
}



ul a {
    padding: 10px 30px; /*marginen på boksene til teksten*/
    color: #333333; /*fargen til teksten*/
    font-weight: bold;
    text-decoration: none; /*fjerner understrek*/
    background-color: rgb(200,200,200); /*farge til boks*/
    display:block;
    margin:5px;
    border-radius: 4px;
    font-size: 20px;
}
ul a:hover {
    background-color: lightgray; /*farge når man har musen over*/
}

img {
    width:100%;
    margin:-10px;
}

@media (max-width:1557px) {
    .innholdBunn {
        border-radius: 0 0 20px 0;
    }
}

@media (max-width:1200px) {
    .innholdVenstre {
        flex-basis:300px;
    }
    .meny {
        flex-basis:200px;
    }
    ul a {
        font-size: 15px;
    }
    .innholdTopp,.innholdBunn {
        font-size: 20px;
    }
}

@media (max-width:1800px) {
    .innholdBunn, .innholdTopp {
        font-size:25.3px;
}
}
@media (max-width:1700px) {
    .innholdBunn, .innholdTopp {
        font-size:23.9px;
}
}
@media (max-width:1600px) {
    .innholdBunn, .innholdTopp {
        font-size:22.5px;
}
}
@media (max-width:1525px) {
    .innholdBunn, .innholdTopp {
        font-size:21.44px;
}
}
@media (max-width:1450px) {
    .innholdBunn, .innholdTopp {
        font-size:20.39px;
}
}
@media (max-width:1380px) {
    .innholdBunn, .innholdTopp {
        font-size:19px;
}
}
@media (max-width:1315px) {
    .innholdBunn, .innholdTopp {
        font-size:18px;
}
}
@media (max-width:1260px) {
    .innholdBunn, .innholdTopp {
        font-size:17.4px;
}
}
@media (max-width:1210px) {
    .innholdBunn, .innholdTopp {
        font-size:16.5px;
}
}
